body {
	width: 1095px;
}

header {
	background-color: #ffffff;
	height: 40px;
	padding: 20px;
	border-bottom: 2px solid #E0D5D5;
}

.a1 {
	color: #777777;
}

#hr1 {
	border: none;
	width: 90%;
	height: 3px;
	background-color: #DDD7D7;
	margin-bottom: 15px;
}

#hr2 {
	border: none;
	width: 90%;
	height: 3px;
	background-color: #DDD7D7;
	margin-bottom: 15px;
}

h {
	background-color: #4aaaa5;
	text-align: center;
	font-family: "Georgia", "Times", "Times New Roman", "serif";
	color: white;
	font-size: 30px;
	padding: 25px;
	margin-left: 115px;
}

#links {
	margin-left: 730px;
	font-size: 15px;
	margin-top: -20px;
	font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

p2 {
	color: #EBDFDF;
	margin: 12px;
	width: 1px;
}

#main {
	background-image: url("../images/concrete_texture.png");
	display: inline-block;
	padding-top: 50px;
	padding-left: 32px;
	padding-right: 30px;
}

#bio {
	background-color: white;
	width: 580px;
	float: left;
	border: 1px solid #E8E4E4;
	margin-left: 102px;
}

#About {
	color: #4aaaa5;
	font-size: 30px;
	margin-left: 26px;
	margin-top: 17px;
	font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
	margin-bottom: 15px;
}

#selfphoto {
	margin-left: 26px;
}

p {
	margin-left: 26px;
	margin-right: 30px;
	color: #777777;
	font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
	line-height: 180%;
	font-size: 14px;
}

#connectlinks {
	border: 1px solid #E8E4E4;
	background-color: white;
	width: 240px;
	margin-left: 700px;
	height: 170px;
	padding-right: 15px;
}

#connectwords {
	color: #4aaaa5;
	font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
	text-align: center;	
	font-size: 20px;
	margin-top: 20px;

}

#icons {
	margin-left: 30px;
}

footer {
	clear: both;
	text-align: center;
	font-size: 8px;
	font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
	color: #E8E4E4;
	background-color: #666666;
	border-top: 6px solid #4aaaa5;
	height: 60px;
 }

.contactpage {
	font-size: 30px;
	color: gray;
	font-family: 'Helvetica Neue', 'Helvetica', 'sans-serif';
	margin: 0px;
	padding: 0px;
}

textarea {
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

 #textarea1 {
 	margin-left: 8px;
 	padding-left: 20px;
 }

ul {
}

ul, li {
	list-style: none;
	display: inline;
}

 #hangmanpic {
 	width: 240px;
 	height: 210px;
 }

 #hangman {
 	position: absolute;
	top: 370px;
	left: 210px;
    background-color: #4aaaa5;
    height: 20px;
    color: white;
	padding: 5px 60px 5px 60px;
 }

#rpgpic {
 	width: 200px;
 	height: 180px;
 	padding-left: 20px;
 	padding-bottom: 20px;
}

#rpgtext {
 	position: absolute;
	top: 370px;
	left: 447px;
    background-color: #4aaaa5;
    height: 20px;
    color: white;
	padding: 5px 62px 5px 65px;
}

#triviapic {
	width: 190px;
 	height: 170px;
 	padding-left: 22px;
}

#triviatext {
 	position: absolute;
	top: 570px;
	left: 205px;
    background-color: #4aaaa5;
    height: 20px;
    color: white;
	padding: 5px 72px 5px 79px;
}

#rugterspic {
 	width: 203px;
 	height: 170px;
 	padding-left: 47px;
 	padding-top: 20px;
}

#rutgerstext {
	position: absolute;
	top: 570px;
	left: 446px;
    background-color: #4aaaa5;
    height: 20px;
    color: white;
	padding: 5px 37px 5px 35px;
}

#rockpic {
	width: 190px;
 	height: 170px;
 	padding-left: 22px;
 	padding-top: 30px;
}

#rocktext{
	position: absolute;
	top: 800px;
	left: 205px;
    background-color: #4aaaa5;
    height: 20px;
    color: white;
	padding: 5px 32px 5px 27px;
}